body {
    margin: 0;
 
}

.navigationbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
    background-color: rgb(64, 53, 49);
    color: #ffffff;
}

.Logo {
    display: flex;
    align-items: center;

}

img {
    height: 100px;
    width: 125px;
    margin-left: auto;
}

.navigationlinks {
    display: flex;
    list-style: none;
    margin: 10px;
    padding: 10px;
}

.navigationlinks li {
    margin-left: 10px;
    position: relative;
    margin: 20px;
    align-items: center;

}

.navigationlinks a {
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    color: #ffffff;
    font-weight: 500;
    transition: color 0.3s ease;
    text-align: center;
  
}

.navigationlinks a:hover {
    color: #d6aa4d;
    border-bottom: 1px solid wheat; 
    padding-bottom: 10px;


}

.custombutton {
    background-color: transparent;
    color: #1f1c13;
    padding: 8px 16px;
    border: 2px solid #d6aa4d;
    border-radius: 4px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.custombutton :hover {
    background-color: transparent;
    color: #d6aa4d;
    border: 2px solid #d6aa4d;
}

.Experience {
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-family: 'Great Vibes', cursive;
    font-weight: 200;
    font-size: 30px;
    color: #d6aa4d;
    padding-top: 20px;
}

.largeT {
    font-size: 3.5rem;
    font-weight: bolder;
}

.imagebox {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 550px;
    background-color: wheat;
    padding-bottom: 10px;
    position: relative;
}

.box1 {
    display: block;
    width: 33%;
    height: 470px;
    background-color: azure;
    border-radius: 5%;
}

.box2 {
    width: 33%;
    height: 470px;
    background-color: azure;
    border-radius: 5%;
}

.box3 {
    width: 33%;
    height: 470px;
    background-color: azure;
    border-radius: 5%;
}

.box1 img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 5%;
}

.box2 img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 5%;
}

.box3 img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 5%;
}

.container2 {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: auto;
    height: 600px;
    margin: auto;
}

.leftdiv {
    background-color: #ffffff;
    max-width: 40%;

}

.rightdiv {
    background-color: #ffffff;
    max-width: 60%;
}

.goldline {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    color: #d6aa4d;
    font-size: 35px;
    font-weight: 300;

}

.leftdiv h1 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 3.5rem;
    font-weight: 600;


}

.rightdiv p {
    padding-top: 140px;
    font-size: 1.3rem;
    font-weight: 100;
    font-family: Antic Didone;
}

.container3 {
    width: 100%;
    height: 750px;
    margin: auto;
    padding: 20px;
    background-color: wheat;
    display: flex;
    gap: 70px;
    margin-top: 10px;
}

.flowerimage {
    background-color: #ffffff;
    margin-left: 5px;
    width: 50%;
    height: 650px;
}

.flowerimage img {
    width: 100%;
    height: 100%;
}

.Leftimagediv {
    background-color: wheat;
    width: 70%;
    margin-right: 35px;
    height: 650px;



}

.sideimages {
    background-color: wheat;
    display: flex;
    height: 300px;
    gap: 70px;


}

.leftimage {
    background-color: wheat;
    width: 50%;
}

.leftimage img {
    width: 100%;
    height: 100%;
}


.rightimage {
    background-color: beige;
    width: 50%;
}

.rightimage img {
    height: 100%;
    width: 100%;
}

.paragraph {
    background-color: wheat;
    margin-top: 100px;
    font-family: Antic Didone;
    font-weight: 200;
    font-size: 20px;
}

.buttondiv {
    background-color: black;
    display: flex;
    padding: 10px 20px;
    width: 100px;
    height: 30px;
    border-radius: 7px;
    margin-left: 2px;
    margin-top: 30px;
    justify-content: center;
    align-content: center;
}

.buttondiv a {
    color: beige;
    display: flex;
    font-family: Antic Didone;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 7px;
    margin-right: 18.3px;
}

.buttondiv a:hover {
    color: #d6aa4d;
}

.container4 {
    display: flex;
    width: 100%;
    background-color: #ffffff;
    height: 750px;
    gap: 70px;

}

.leftplandiv {
    background-color: #ffffff;
    width: 30%;
    margin-left: 50px;
    height: 600px;
    margin-top: 80px;
}

.leftplandiv img {
    width: 100%;
    height: 100%;
}

.rightplandiv {
    background-color: #ffffff;
    width: 60%;
    height: 650px;
    margin-top: 20px;
}

.rightplandiv h1 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 60px;
    font-weight: 300;
}

.rightplandiv p {
    font-family: Antic Didone;
    margin-top: 10px;
    font-size: large;
}

.planbutton {

    width: 250px;
    height: 35px;
    display: flex;
    margin-left: 10px;
    padding: 20px 20px;
    background-color: black;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
}

.planbutton a {
    color: beige;

}

.planbutton a:hover {
    color: #d6aa4d;
}

.container5 {
    display: flex;
    background-color: wheat;
    height: 350px;
    width: 100%;
    gap: 70px;
}

.lefttextdiv {
    background-color: wheat;
    width: 40%;
}

.lefttextdiv h1 {
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    font-style: italic;
    font-weight: 200;
}

.righttextdiv {
    background-color: wheat;
    width: 60%;
}

.righttextdiv p {
    font-family: Antic Didone;
    font-size: 17px;
    margin-top: 40px;
    margin-right: 250px;
}

.gallerydiv {
    display: block;
    width: 100%;
    height: 400px;
}

.gallerydiv h1 {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 50px;
    font-weight: 100;
}

.gallerydiv p {
    text-align: center;
    font-size: 15px;
    font-family: Antic Didone;
    font-weight: 100;

}

.gallerybutton {
    display: flex;
    height: 60px;
    width: 150px;
    padding: 20px 20px;
    background-color: rgb(64, 53, 49);
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    margin-left: 43%;
    border: 5px solid #d6aa4d;
}

.gallerybutton a {
    color: beige;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.gallerybutton a:hover {
    color: #d6aa4d;
}

.container6 {
    background-color: rgb(64, 53, 49);
    width: 100%;
    height: 180px;
    display: flex;
    gap: 50px;
}

.leftimagediv {
    background-color: rgb(64, 53, 49);
    width: 15%;
    height: 200px;
}

.rightimgdiv {
    background-color: rgb(64, 53, 49);
    width: 65%;
    height: 200px;
}

.leftimagediv img {
    width: 100%;
    height: 90%;
    background-color: rgb(64, 53, 49);
}

.rightimgdiv h1 {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    font-style: italic;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
}

.rightimgdiv p {
    text-align: center;
    font-size: 15px;
    font-family: Antic Didone;
    font-weight: 300;
    color: #ffffff;
    font-size: 20px;

}

.container7 {
    background-color: rgb(64, 53, 49);
    width: 100%;
    height: 500px;
    display: flex;
    gap: 27px;

}

.leftcontact {
    background-color: rgb(64, 53, 49);
    width: 50%;
    margin-left: 60px;
    margin-top: 50px;
}

.font {
    font-family: Antic Didone;
    color: #ffffff;
    font-size: 30px;
    font-weight: 1000;
}

.font1 {
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 200;
}

.rightcontact {
    background-color: rgb(64, 53, 49);
    width: 50%;
    margin-top: 50px;
    margin-left: 20px;
}

.location {
    height: 50px;
    width: 50px;
}



.container8 {
    background-color: rgb(64, 53, 49);
    width: 100%;
    height: 400px;
    display: flex;
    gap: 47px;
}

.leftcontact1 {
    background-color: rgb(64, 53, 49);
    width: 50%;
    margin-left: 60px;
    height: 400px;
}

.rightcontact1 {
    background-color: rgb(64, 53, 49);
    width: 50%;
    height: 400px;


}

.dividor {
    color: #ffffff;
}
